<div
    class="flex flex-col xl:flex-row gap-4 lg:gap-6 items-center"
    :id="`result-${article.id}`"
>

    <a
        :href="article.url"
        :aria-label="`Read article: ${article.title}`"
        class="w-full xl:w-auto xl:shrink-0"
    >
        <figure class="flex flex-col gap-4">
            <template x-if="article.featured_image">
                <picture>
                    <source :srcset="article.featured_image.webp.url" type="image/webp"/>
                    <source :srcset="article.featured_image.jpeg.url" type="image/jpg" />
                    <img :src="article.featured_image.jpeg.url" :alt="article.featured_image.alt"
                        class="w-full h-full object-cover xl:max-w-[255px] xl:max-h-[180px] rounded-lg lg:rounded-xl aspect-[187/130] lg:aspect-[17/12]"
                        width="255"
                        height="180"
                        loading="lazy" />
                </picture>
            </template>

            <template x-if="!article.featured_image">
                {{
                    partial:components/image
                    :url="article_settings:image"
                    image_width="255"
                    image_height="180"
                    image_class="w-full h-full object-cover xl:max-w-[255px] xl:max-h-[180px] rounded-lg lg:rounded-xl"
                }}
            </template>
        </figure>
    </a>

    <div class="flex flex-col gap-2 items-start">
        <a class="text-lg text-grey-800 font-medium hover:underline line-clamp-2" :href="article.url" x-text="article.title"></a>

        {{ partial:components/tag }}
            {{ slot:attributes }}
                x-text="article.date"
            {{ /slot:attributes }}
        {{ /partial:components/tag }}

        <template x-if="article.excerpt">
            <p class="text-base text-grey-500 font-normal line-clamp-3" x-html="article.excerpt"></p>
        </template>
    </div>

</div>
