{{#
    @name Avatar
    @desc An Avatar component
    @param* image
    @param* size
#}}

{{ image_size = switch(
    (size === 'sm') => 24,
    (size === 'md') => 36,
    (size === 'lg') => 48,
    (size === 'xl') => 64
) }}

{{ size_classes = switch(
    (size === "sm") => 'size-6',
    (size === "md") => 'size-9',
    (size === "lg") => 'size-12',
    (size === "xl") => 'size-16'
) }}

<picture>
    <source srcset="{{ glide:image :width="image_size" :height="image_size" dpr="2" q="60" format="webp" }}" type="image/webp"/>
    <source srcset="{{ glide:image :width="image_size" :height="image_size" dpr="2" q="60" }}" type="image/jpeg"/>
    <img
        src="{{ glide:image :width="image_size" :height="image_size" dpr="2" q="60" }}"
        class="
            rounded-full object-cover object-center
            {{ size_classes }}
        "
        {{ alt ?= 'alt="{{ alt }}"' }}
        height="{{ image_size }}"
        width="{{ image_size }}"
        loading="lazy"
    />
</picture>
