{{ if handle }}
    {{ form:create :in="handle" js="alpine:form" attr:x-ref="form" attr:class="w-full" :redirect="redirect" }}
        {{# Use Laravel Precognition for live validation and submission. #}}
        <div x-data="formHandler()" class="flex flex-col gap-6 lg:gap-10" x-cloak>
            {{# Error notifications. #}}
            <template x-if="form.hasErrors && submitted">
                <div
                    id="summary"
                    role="alert"
                    class="py-4 px-6 border border-red-400 rounded-lg text-black bg-white"
                    aria-labelledby="error-summary-title"
                    tabindex="-1"
                >
                    {{ partial:typography/h4 id="error-summary-title" content="There are issues with the form input:" }}

                    <ul class="list-inside list-disc mt-4">
                        <template x-for="(error, index) in form.errors">
                            <li>
                                <a
                                    :href="`#${index}`"
                                    @click.prevent="$focus.focus(document.querySelector(`#${index}`))"
                                    x-text="error"
                                    class="focus:outline-primary-500 decoration-2 underline underline-offset-4 motion-safe:transition-colors focus:text-primary-500 hover:text-primary-500"
                                ></a>
                            </li>
                        </template>
                    </ul>
                </div>
            </template>

            {{# Success notifications. #}}
            <template x-if="success">
                {{ partial:components/notification type="success" class="md:col-span-12" content="{trans:strings.form_success}" }}
            </template>

            {{# Honeypot spam protection. #}}
            <div class="hidden">
                <label class="font-bold" for="{{ honeypot }}">{{ trans:strings.form_honeypot }} <sup class="text-red-700">*</sup></label>
                <input class="form-input w-full" id="{{ honeypot }}" type="text" name="{{ honeypot }}" x-model="form.{{ honeypot }}" tabindex="-1" autocomplete="off"/>
            </div>

            {{# Render various form sections. #}}
            {{ sections }}
                <fieldset class="w-full grid md:grid-cols-12 gap-4">
                    {{ if display || instructions }}
                        <span class="md:col-span-12">
                            {{ display ?= { partial:typography/h2 class="mb-2" as="legend" content="{ trans :key="display" }" } }}
                            {{ instructions ?= { partial:typography/p content="{ trans :key="instructions" }" } }}
                        </span>
                    {{ /if }}

                    {{# Render the default-styled fields. #}}
                    {{ fields scope="field" }}
                        <template x-if="{{ show_field }}">
                            {{ partial:vendor/statamic/forms/field_wrapper
                                class="{{ input_type == 'hidden' ?= 'hidden' }}
                                {{ switch(
                                    (width == '25') => 'md:col-span-3',
                                    (width == '33') => 'md:col-span-4',
                                    (width == '50') => 'md:col-span-6',
                                    (width == '66') => 'md:col-span-8',
                                    (width == '75') => 'md:col-span-9',
                                    () => 'md:col-span-12'
                                )}}"
                            }}
                                {{ unless type == 'spacer'}}
                                    {{ partial:vendor/statamic/forms/label
                                        :handle="handle"
                                        title="{{ trans :key="field:display" }}"
                                        required="{{ (validate | contains('required')) || (validate | contains('accepted')) ? 'true' : 'false' }}"
                                    }}

                                    {{ if field:instructions && instructions_position != 'below' }}
                                        {{ partial:vendor/statamic/forms/instructions }}
                                            <span id="{{ field:handle }}-instructions">
                                                {{ trans :key="field:instructions" }}
                                            </span>
                                        {{ /partial:vendor/statamic/forms/instructions }}
                                    {{ /if }}
                                {{ /unless }}

                                {{ if type == 'textarea' }}
                                    <div
                                        class="w-full"
                                        {{ if field:character_limit }}
                                            x-data="textareaCharacterLimit('form.{{ field:handle }}', {{ field:character_limit }})"
                                        {{ /if }}
                                    >
                                        {{ partial
                                            src="vendor/statamic/forms/fields/{type}"
                                            :id="handle"
                                            instructions="{{ field:instructions ?= 'true' }}"
                                            class="w-full"
                                            character_limit="false"
                                        }}

                                        {{ if field:character_limit }}
                                            <div
                                                class="text-xs text-grey-500"
                                                :class="{
                                                    'text-red-300' : !contentLengthValid
                                                }"
                                            >
                                                <span x-text="contentLength"></span>
                                            </div>
                                        {{ /if }}
                                    </div>
                                {{ elseif type == 'toggle' }}
                                    {{ partial:vendor/statamic/forms/fields/checkbox
                                        :label="field:inline_label"
                                        class="text-black"
                                    }}
                                {{ else }}
                                    {{ partial
                                        src="vendor/statamic/forms/fields/{type}"
                                        :id="handle"
                                        instructions="{{ field:instructions ?= 'true' }}"
                                        :character_limit="field:character_limit"
                                    }}
                                {{ /if }}

                                {{# Inline error. #}}
                                <template x-if="form.invalid('{{ handle }}')">
                                    <span class="block text-red-300 text-sm" id="error-{{ id }}" x-text="form.errors.{{ handle }}"></span>
                                </template>

                                {{ if field:instructions && instructions_position === 'below' }}
                                    {{ partial:vendor/statamic/forms/instructions }}
                                        <span id="{{ field:handle }}-instructions">
                                            {{ trans :key="field:instructions" }}
                                        </span>
                                    {{ /partial:vendor/statamic/forms/instructions }}
                                {{ /if }}
                            {{ /partial:vendor/statamic/forms/field_wrapper }}
                        </template>
                    {{ /fields }}
                </fieldset>
            {{ /sections }}

            {{# Submit button, disabled on processing. #}}
            <div class="w-full flex justify-end">
                <div class="w-full flex justify-end">
                    {{ partial:components/button
                        as="button"
                        button_type="button"
                        label="{submit_label ?? 'Submit'}"
                        class="justify-center"
                        size="sm"
                    }}
                        {{ slot:attributes }}
                            @click.prevent="submit" :disabled="form.processing" :class="{ 'opacity-25 cursor-default': form.processing }"
                        {{ /slot:attributes }}
                    {{ /partial:components/button }}
                </div>
            </div>
        </div>
    {{ /form:create }}

    {{# Call in the Peak Tools Alpine Based Precognition Form Handler. #}}
    {{ partial:statamic-peak-tools::snippets/form_handler }}
{{ /if }}
