{{#
    @name h4
    @desc The typography h4 partial to render an h4 with `class`, `as`, `color` and `content` attributes.
    @param* content The h4 content.
    @param as The wrapping element. Defaults to `h4`.
    @param weight Set a custom font weight utility. Falls back to `font-medium`.
    @param color Set a custom text color utility. Falls back to `text-black`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_h4.antlers.html -->
<{{ as or 'h4' }} class="text-2xl md:text-[32px] md:leading-[40px] {{ weight or 'font-medium' }} {{ color or 'text-black' }} {{ class }}">{{ content ?= {content | nl2br} }}{{ slot }}</{{ as or 'h4' }}>
<!-- End: /typography/_h4.antlers.html -->
