<div class="flex items-start gap-10">
    {{ partial:components/avatar
        image="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTExL3BkbWlzYzctd2szOTg1MDIwMy1pbWFnZV8yLmpwZw.jpg"
        alt="A Test Alt"
        size="sm"
    }}

    {{ partial:components/avatar
        image="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTExL3BkbWlzYzctd2szOTg1MDIwMy1pbWFnZV8yLmpwZw.jpg"
        alt="A Test Alt"
        size="md"
    }}

    {{ partial:components/avatar
        image="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTExL3BkbWlzYzctd2szOTg1MDIwMy1pbWFnZV8yLmpwZw.jpg"
        alt="A Test Alt"
        size="lg"
    }}

    {{ partial:components/avatar
        image="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTExL3BkbWlzYzctd2szOTg1MDIwMy1pbWFnZV8yLmpwZw.jpg"
        alt="A Test Alt"
        size="xl"
    }}
</div>
