<div class="flex gap-4 flex-wrap items-center">
    {{ partial:components/button
        label="Button"
        as="button"
        color="primary"
        style="filled"
        size="lg"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="primary"
        style="filled"
        size="sm"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="secondary"
        style="filled"
        size="lg"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="secondary"
        style="filled"
        size="sm"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="grey-dark"
        style="filled"
        size="lg"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="grey-dark"
        style="filled"
        size="sm"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="grey-light"
        style="filled"
        size="lg"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="grey-light"
        style="filled"
        size="sm"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="red"
        style="filled"
        size="lg"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="red"
        style="filled"
        size="sm"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="primary"
        style="text"
        size="lg"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="primary"
        style="text"
        size="sm"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="grey-dark"
        style="text"
        size="lg"
        icon="activity"
        icon_position="both"
    }}

    {{ partial:components/button
        label="Button"
        as="button"
        color="grey-dark"
        style="text"
        size="sm"
        icon="activity"
        icon_position="both"
    }}
</div>
