<div class="grid grid-cols-8 gap-4">
    {{ partial:typography/h4 class="row-span-2" content="Tones" }}
    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-white"></div>
        <span class="text-xs">bg-white</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-black"></div>
        <span class="text-xs">bg-black</span>
    </div>
</div>

<div class="grid grid-cols-8 gap-4">
    {{ partial:typography/h4 class="row-span-2" content="Primary" }}

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-primary"></div>
        <span class="text-xs">bg-primary</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-primary-100"></div>
        <span class="text-xs">bg-primary-100</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-primary-200"></div>
        <span class="text-xs">bg-primary-200</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-primary-300"></div>
        <span class="text-xs">bg-primary-300 / bg-primary</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-primary-400"></div>
        <span class="text-xs">bg-primary-400</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-primary-500"></div>
        <span class="text-xs">bg-primary-500</span>
    </div>
</div>

<div class="grid grid-cols-8 gap-4">
    {{ partial:typography/h4 class="row-span-2" content="Secondary" }}

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-secondary"></div>
        <span class="text-xs">bg-secondary</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-secondary-100"></div>
        <span class="text-xs">bg-secondary-100</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-secondary-200"></div>
        <span class="text-xs">bg-secondary-200</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-secondary-300"></div>
        <span class="text-xs">bg-secondary-300 / bg-secondary</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-secondary-400"></div>
        <span class="text-xs">bg-secondary-400</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-secondary-500"></div>
        <span class="text-xs">bg-secondary-500</span>
    </div>
</div>

<div class="grid grid-cols-8 gap-4">
    {{ partial:typography/h4 class="row-span-2" content="Grey" }}

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-grey"></div>
        <span class="text-xs">bg-grey</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-grey-100"></div>
        <span class="text-xs">bg-grey-100</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-grey-200"></div>
        <span class="text-xs">bg-grey-200</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-grey-300"></div>
        <span class="text-xs">bg-grey-300</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-grey-400"></div>
        <span class="text-xs">bg-grey-400</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-grey-500"></div>
        <span class="text-xs">bg-grey-500</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-grey-600"></div>
        <span class="text-xs">bg-grey-600</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-grey-700"></div>
        <span class="text-xs">bg-grey-700</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-grey-800"></div>
        <span class="text-xs">bg-grey-800</span>
    </div>

</div>

<div class="grid grid-cols-8 gap-4">
    {{ partial:typography/h4 class="row-span-2" content="Red" }}

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-red"></div>
        <span class="text-xs">bg-red</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-red-100"></div>
        <span class="text-xs">bg-red-100</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-red-200"></div>
        <span class="text-xs">bg-red-200</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-red-300"></div>
        <span class="text-xs">bg-red-300</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-red-400"></div>
        <span class="text-xs">bg-red-400</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-red-500"></div>
        <span class="text-xs">bg-red-500</span>
    </div>
</div>

<div class="grid grid-cols-8 gap-4">
    {{ partial:typography/h4 class="row-span-2" content="Yellow" }}

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-yellow"></div>
        <span class="text-xs">bg-yellow</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-yellow-100"></div>
        <span class="text-xs">bg-yellow-100</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-yellow-200"></div>
        <span class="text-xs">bg-yellow-200</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-yellow-300"></div>
        <span class="text-xs">bg-yellow-300</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-yellow-400"></div>
        <span class="text-xs">bg-yellow-400</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-yellow-500"></div>
        <span class="text-xs">bg-yellow-500</span>
    </div>
</div>

<div class="grid grid-cols-8 gap-4">
    {{ partial:typography/h4 class="row-span-2" content="Green" }}

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-green"></div>
        <span class="text-xs">bg-green</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-green-100"></div>
        <span class="text-xs">bg-green-100</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-green-200"></div>
        <span class="text-xs">bg-green-200</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-green-300"></div>
        <span class="text-xs">bg-green-300</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-green-400"></div>
        <span class="text-xs">bg-green-400</span>
    </div>

    <div class="w-full border border-black flex flex-col">
        <div class="aspect-square bg-green-500"></div>
        <span class="text-xs">bg-green-500</span>
    </div>
</div>
