<div class="flex gap-4 flex-wrap items-center">
    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="primary"
        size="lg"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="primary"
        size="md"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="primary"
        size="sm"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="secondary"
        size="lg"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="secondary"
        size="md"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="secondary"
        size="sm"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="icon"
        color="primary"
        size="lg"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="icon"
        color="primary"
        size="md"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="icon"
        color="primary"
        size="sm"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="grey-dark"
        size="lg"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="grey-dark"
        size="md"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="grey-dark"
        size="sm"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="grey-light"
        size="lg"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="grey-light"
        size="md"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="grey-light"
        size="sm"
        as="button"
    }}


    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="icon"
        color="grey-dark"
        size="lg"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="icon"
        color="grey-dark"
        size="md"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="icon"
        color="grey-dark"
        size="sm"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="red"
        size="lg"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="red"
        size="md"
        as="button"
    }}

    {{ partial:components/icon_button
        label="Some Label"
        icon="activity"
        style="filled"
        color="red"
        size="sm"
        as="button"
    }}

</div>
