{{ partial:typography/display content="Display" }}
{{ partial:typography/h1 content="H1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus" }}
{{ partial:typography/h2 content="H2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus" }}
{{ partial:typography/h3 content="H3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus" }}
{{ partial:typography/h4 content="H4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus" }}

{{ partial:typography/prose }}
    <h1>Welcome to Dummy HTML Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus</h1>
    <h2>Welcome to Dummy HTML Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus</h2>
    <h3>Welcome to Dummy HTML Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus</h3>
    <h4>Welcome to Dummy HTML Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus</h4>
    <h5>Welcome to Dummy HTML Content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus</h5>

    <p>This is a paragraph of text. HTML paragraphs are defined using the <code>&lt;p&gt;</code> tag.</p>

    <p>For more information, check out the following links:</p>
    <ul>
        <li><a href="https://www.example.com">Example Website</a></li>
        <li><a href="https://www.w3schools.com">W3Schools</a></li>
        <li><a href="https://developer.mozilla.org">MDN Web Docs</a></li>
    </ul>

    <p>Steps to create basic HTML:</p>
    <ol>
        <li>Start with a doctype declaration.</li>
        <li>Add the <code>&lt;html&gt;</code> tag and define the language.</li>
        <li>Include a <code>&lt;head&gt;</code> section for meta information.</li>
        <li>Create a <code>&lt;body&gt;</code> section for your content.</li>
        <li>Add various tags like <code>&lt;p&gt;</code>, <code>&lt;ul&gt;</code>, and <code>&lt;ol&gt;</code> to structure your page.</li>
    </ol>

    <p>Thank you for viewing this dummy content!</p>
{{ /partial:typography/prose }}
