
<div class="max-w-[1440px] lg:px-[88px] px-6 mx-auto w-full flex flex-col gap-[88px] py-16">
    <div class="p-4 border border-dashed border-[#9747FF] rounded-[5px] flex flex-col gap-4">
        {{ partial:typography/h3 content="Colours" }}
        {{ partial:dev/colours }}
    </div>

    <div class="p-4 border border-dashed border-[#9747FF] rounded-[5px] flex flex-col gap-4">
        {{ partial:typography/h3 content="Typography" }}
        {{ partial:dev/typography }}
    </div>

    <div class="p-4 border border-dashed border-[#9747FF] rounded-[5px] flex flex-col gap-4">
        {{ partial:typography/h3 content="Buttons" }}
        {{ partial:dev/buttons }}
    </div>

    <div class="p-4 border border-dashed border-[#9747FF] rounded-[5px] flex flex-col gap-4">
        {{ partial:typography/h3 content="Icon Buttons" }}
        {{ partial:dev/icon_buttons }}
    </div>

    <div class="p-4 border border-dashed border-[#9747FF] rounded-[5px] flex flex-col gap-4">
        {{ partial:typography/h3 content="Avatar" }}
        {{ partial:dev/avatars }}
    </div>

    <div class="p-4 border border-dashed border-[#9747FF] rounded-[5px] flex flex-col gap-4">
        {{ partial:typography/h3 content="Logos" }}
        {{ partial:dev/logos }}
    </div>

    <div class="p-4 border border-dashed border-[#9747FF] rounded-[5px] flex flex-col gap-4">
        {{ partial:typography/h3 content="Fields" }}
        {{ partial:dev/fields }}
    </div>

    <div class="p-4 border border-dashed border-[#9747FF] rounded-[5px] flex flex-col gap-4">
        {{ partial:typography/h3 content="Tabs" }}
        {{ partial:dev/tabs }}
    </div>
</div>
